* {
    padding: 0;
    margin: 0px;
}

html {
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(201, 103, 57);
    color: seashell;
    font-family: "Baloo Tamma 2";
}

h1 {
    font-size: 4rem;
    text-decoration: underline;
    color: rgb(107, 38, 6);
    margin-top: 2rem;
    line-height: 0.6;
}

h3 {
    color: rgb(107, 38, 6);
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

h4 {
    font-weight: 500;
    margin-bottom: 25px;
    color: rgb(107, 38, 6);
}

#sectionContainer {
    display: wrap;
    justify-content: center;
}

#songSections {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.labelInput, .section {
    background-color: rgb(201, 103, 58);
    padding: 5px;
    border: none;
    color: rgb(107, 38, 6);
    font-weight: 700;
    font-size: 18px;
}

#section1 {
    display: wrap;
}

.labelInput {
    align-items: left;
    width: 100%;
}

.textarea {
    width: 520px;
    font-family: "Baloo Tamma 2";
    padding: 5px;
    border-radius: 5px;
    text-align: left;
    line-height: 1.4;
    font-size: 18px;
    color: seashell;
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: sienna;
    margin-bottom: 0.2rem;
    border: none;
}
#text1Description {
    width: 520px;
    border-radius: 5px;
    text-align: left;
    line-height: 1.4;
    font-size: 18px;
    color: rgb(107, 38, 6);
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#text1 {
    width: 520px;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
    line-height: 1.4;
    font-size: 18px;
    color: seashell;
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2rem;
    border: none;
    background-color: sienna;
    display: none;
    position: pointer;
}

span {
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

span:hover {
    color: black;
}

#section2, #section3, #section4, #section5, #section6, #section7 {
    display: none;
}

#hint {
    text-align: left;
    color: rgb(124, 43, 6); 
}

#responseArea {
    width: 220px;
    background-color: rgb(124, 43, 6);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: seashell;
    padding: 10px;
    line-height: 1.4;
    display: none;
}

#responseText {
    margin-top: auto;
    margin-bottom: auto;
}
